body{
  padding-top: 75px;
}
.icone{
  height: 100px;
}

.home-quote{
  background: url('img/bg-quote.jpg') center center;
  background-size: cover;
}

.divisor{
  border-bottom: 1px solid #eee;
}
a{
  text-decoration: none;
}