body{
  padding-top: 75px;
}
.icone{
  height: 100px;
}

.home-quote{
  background: url('img/bg-quote.jpg') center center;
  background-size: cover;
}

.divisor{
  border-bottom: 1px solid #eee;
}
a{
  text-decoration: none;
}
.h2-plano{
  text-align: left;
}
.lista{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.lista li{
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 1rem;
}
.lista li:last-child{
  border-bottom: none;
}